<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить пользователя</title>
</head>
<body>
<form th:method="DELETE" th:action="@{/admin/delete}" th:object="${userForDelete}">
    <label for="id">ID:</label>
    <input type="text" th:field="*{id}" id="id" readonly>
    <br>
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name" readonly>
    <br/>
    <label for="lastname">Фамилия</label>
    <input type="text" th:field="*{lastname}" id="lastname" readonly>
    <br/>
    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age" readonly>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id = "email" readonly>
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id = "password" readonly>
    <br/>
    <label for="role">Role: </label>
    <select th:field="*{roles}" id="role" disabled>
        <option th:value="USER" selected>USER</option>
        <option th:value="ADMIN">ADMIN</option>
    </select>
    <br/>
    <input type="submit" value="Удалить">
</form>
<br/>

</body>
</html>