<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить пользователя</title>
</head>
<body>
<h1>Изменить пользователя</h1>
<form th:method="PATCH" th:action="@{/admin/edit}" th:object="${userForUpdate}">
    <label for="id">ID:</label>
    <input type="text" th:field="*{id}" id="id">
    <label for="name">Изменить имя</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="lastname">Изменить фамилию</label>
    <input type="text" th:field="*{lastname}" id="lastname">
    <br/>
    <label for="age">Изменить возраст</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id = "email">
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id = "password">
    <br/>
    <label for="role">Role: </label>
    <input type="text" th:field="*{roles}" id = "role">
    <br/>
    <input type="submit" value="Изменить">
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="LOGOUT">
</form>
</body>
</html>